body {
  text-align: center !important;
  font-family: "Courier New", monospace !important;
  background-color: #000000 !important;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym53.ani),
                url(https://cur.cursors-4u.net/symbols/sym-1/sym53.png),
                auto !important;
}

body.light .ChatIndicator.unread .count {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light #main-content, body.light #main-content>div, body.light body, body.light html {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light header.NavBar .MenuLink, body.light header.NavBar .clickable, body.light header.NavBar a {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light .clickable, body.light .fakelink, body.light a {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light .User .ratings-grid .rating-entry.unset {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light .btn, body.light a.btn, body.light button {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}

body.light .btn, body.light a.btn, body.light button {
  background-color: #000000;
}

body.light .btn.primary, body.light .primary, body.light a.btn.primary, body.light button.primary {
  border-color: #333333;
}

body.light .btn.primary, body.light .primary, body.light a.btn.primary, body.light button.primary {
  background-color: #333333;
}

.Player .Player-username {
  color: #00ff00 !important;
  font-family: "Courier New", monospace !important;
}


